<% a=current_user.id %>
<% b=User.find(a) %>
<% c=b.answers %>
<% z=[] %>
<h1 class='my_question_header'> Questions answered by <%= b.name %></h1>

<% c.each do |i| %>
	<%z << i.question_id %>
<% end %>

<% z.uniq.sort.each do |i| %>
<div class="card"  style='width: 40rem;'>
  <div class="card-header">
  	<h6 class='question_by'><a href='/user/<%= b.id %>'><%= b.name %> : </a></h6>
  	<h4 class='card-title'><a href='/one_question/<%= User.find(a).id %>'><%= Question.find(i).question %></a></h4>
  </div>
  <div class="card-block">
    <div class="card-text">
    	<div class ='list'>
    	<h6 class='card-subtitle mb-2 text-muted' id="<%= Question.find(i).id %>">
    	<br>
    	    <% Answer.all.each do |j| %> 
    	        <% if Question.find(i).id == j.question_id %>
    	        <div class = 'answer_by'>
    	        <h8><a href='/user/<%= User.find_by(id: j.user_id).id %>'>
    	            <%= User.find_by(id: j.user_id).name %>
    	            : </a></h8>
    	        </div>
    	        <div class = 'given_answer'>
    	            <%= j.answer %>
    	        </div>
    	        <br>
    	        <% end %>
    	    <% end %>
    	</h6>
    	</div>
    </div>

        <form action='/answer' method='post' class ='cards'>
    	    <div class='answers'>
    	    <input type='text' name='answer' id ="<%= Question.find(i).id %>" placeholder = 'answer' style='width: 30rem;'>
    	    </div>
    	    <input type="hidden" name="question_id" value="<%= Question.find(i).id %>">
    	    <button class='answer' type='submit' id ="<%= Question.find(i).id %>">Answer</button>
        </form>

  </div>
</div>
<br>
<% end %>

