<h1 class='my_question_header'> Questions asked by <%= User.find_by(id: session[:user_id]).name %></h1>

<% a=User.find(session[:user_id]) %>
<% b=a.questions %>

<% b.each do |i| %>
    <div class="card"  style='width: 40rem;'>
      <div class="card-header">
        <h6 class='question_by'><a href='/user/<%= i.id %>'><%= User.find_by(id: session[:user_id]).name %> : </a></h6>
        <h4 class='card-title'><a href='/one_question/<%= i.id %>'><%= i.question %></a></h4>
      </div>
      <div class="card-block">
        <div class="card-text">
            <div class ='list'>
            <h6 class='card-subtitle mb-2 text-muted' id="<%= i.id %>">
            <br>
                <% Answer.all.each do |j| %> 
                    <% if i.id == j.question_id %>
                    <div class = 'answer_by'>
                        <h8><a href='/user/<%= User.find_by(id: j.user_id).id %>'>
                        <%= User.find_by(id: j.user_id).name %>
                        : </h8>
                    </div>
                    <div class = 'given_answer'>
                        <%= j.answer %>
                    </div>
                    <br>
                    <% end %>
                <% end %>
            </h6>
            </div>
        </div>

            <form action='/answer' method='post' class ='cards'>
                <div class='answers'>
                <input type='text' name='answer' id ="<%= i.id %>" placeholder = 'answer' style='width: 30rem;'>
                </div>
                <input type="hidden" name="question_id" value="<%= i.id %>">
                <button class='answer' type='submit' id ="<%= i.id %>">Answer</button>
            </form>

      </div>
    </div>
    <br>

<% end %>